.container {
    display: flex;
    justify-content: center;
    gap: 5px;
    min-height: 100vh;
    position: relative;
}

.containerProducts {
    min-width: 60vw;
    scroll-behavior: auto;

}

.product {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-wrap: wrap;
    composes: thirdColor from "./colors.module.css";
}
  @media (max-width: 635px) {
    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }

.product:hover {
    background-color: #bf764b11;
}

.information {
    justify-self: center;
}

.sumRes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    composes: secondaryBg from "./colors.module.css";
    composes: primaryColor from "./colors.module.css";
}

.sumRes:hover {
    box-shadow: 3px 3px 5px #BF754B;
}

.operator {
    cursor: pointer;
    width: 10px;
    font-size: 2cap;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.trash {
    cursor: pointer;
    align-self: flex-end;
    composes: btn;
    composes: primaryColor from "./colors.module.css";
    composes: secondaryBg from "./colors.module.css";
    margin-bottom: 2%;
    font-size: x-large;
}

.trash:hover {
    box-shadow: 3px 3px 5px #BF754B;
}

.trashElm {
    transition: transform 1s ease-out 0.2s;
}

.trashElm:hover {
    transform: rotateZ(120deg);
}

.resume {
    position: fixed;
    top: 45vh;
    left: 81vw;

}

  @media (max-width: 1200px) {
    .resume {
        margin-top: 5%;
        position: static;
        display: flex;
        justify-content: center;
    }
}