.title{
    text-align: center;
    text-transform: capitalize;
    composes: thirdColor from "./colors.module.css"
}
.container{
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
    flex-wrap: wrap;
    
}